*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;
  color: rgb(87, 87, 87);
}

.container {
  max-width: calc(1150px + 3rem);
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}
li {
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.logo {
  color: rgb(255, 165, 0);
  font-size: 2rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  span {
    color: rgb(96, 130, 202);
  }
}
